astroid==2.9.3
attrs==21.2.0
biopython==1.79
certifi==2021.10.8
charset-normalizer==2.0.10
idna==3.3
isort==5.10.1
jsonref==0.2
jsonschema==4.2.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
numpy==1.21.4
platformdirs==2.4.1
pylint==2.12.2
pyrsistent==0.18.0
requests==2.27.1
toml==0.10.2
typing_extensions==4.0.1
urllib3==1.26.7
wrapt==1.13.3
